textarea{
    border-style: solid;
    border-width: 2px;
    margin-left: 100px;
    border-color: black;
    font-size: 14px;
}
canvas{
    border:1px solid black;
    margin-left: 350px;
    align-items: center;
}
.botones{
    padding-top: 5px;
    padding-left: 500px;
    padding-bottom: 5px;
}
.alerts{
    padding-left: 600px;
}
.button{
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.bColorRec{
    margin-right: 10px;
    background-color: green;
}
.bEjemplo{
    margin-right: 10px;
    background-color: darkslategrey;
}